<!-- AQUI SE IMPORTAN LOS COMPONENTES QUE CREAMOS
<app-principal></app-principal>
<br>
<br>
<app-empleado></app-empleado>
 TRUCO: DESDE AQUÍ PUEDES ESCRIBIR Y SE IMPORTAN DIRECTAMENTE EN LOS .ts 
 <br><br><br>

<app-formulario></app-formulario>
<br>
<br>

<app-padre></app-padre>

TODO LO ANTERIOR QUEDA COMENTADO-->

<br>
<br>

<!-- EJERCICIO 1 -->
<!-- <app-ejercicio-1></app-ejercicio-1> -->

<!-- EJERCICIO 2 -->
<!-- <app-ejercicio-2></app-ejercicio-2> -->

<!-- EJERCICIO 3 -->
<!-- <app-ejercicio-3></app-ejercicio-3> -->

<!-- EJERCICO 4 -->
<!-- <app-ejercicio-4></app-ejercicio-4> -->

<!-- EJERCICIO 5 -->
<!-- <app-ejercicio-5></app-ejercicio-5> -->

<!-- EJERCICIO 6 -->
<!-- <app-ejercicio-6></app-ejercicio-6> -->

<!-- EJERCICIO 7 -->
<!-- <app-ejercicio-7></app-ejercicio-7> -->

<!-- EJERCICIO 8 -->
<!-- <app-ejercicio-8></app-ejercicio-8> -->

<!-- EJERCICIO 9 -->
<!-- <app-ejercicio-9></app-ejercicio-9> -->

<!-- EJERCICIO 10 -->
<!-- <app-ejercicio-10></app-ejercicio-10> -->

<!-- EJERCICIO 11 -->
<!-- <app-ejercicio-11></app-ejercicio-11> -->

<!-- EJERCICIO 12 -->
<!-- <app-ejercicio-12></app-ejercicio-12> -->

<!-- EJERCICIO 13 -->
<!-- <app-ejercicio-13></app-ejercicio-13> -->

<!-- EJERCICIO 14 -->
<!-- <app-ejercicio-14-dch></app-ejercicio-14-dch> -->

<!-- EJERCICIO 15 -->
<app-ejercicio-15-dch></app-ejercicio-15-dch>
