
/* ESTILOS Y EFECTOS PARA EL BOTÓN */
button 
{
    align-self: auto;
    margin-left: 200px;
    background-color: red; 
    color: white;
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.3s;
}
button:hover 
{
    background-color:rgb(60, 97, 171); 
    transform: scale(1.05); 
}
button:active 
{
    transform: scale(0.95); 
}
